# Python
*.pyc
*.pyo
*.pyd
__pycache__/
.env

# Virtual Environment
venv/

# Docker
*.dockerignore
docker-compose.override.yml

# Jupyter Notebook
.ipynb_checkpoints/

# Excel files
*.xlsx
*.xls

# Ignore other temp files
.DS_Store

# Ignore database files
*.db

#Ignore Java files
/backend/fantasy-rink/fantasy-rink/target
/backend/fantasy-rink/fantasy-rink/.mvn/
/backend/fantasy-rink/fantasy-rink/.classpath
/backend/fantasy-rink/fantasy-rink/.project
/backend/fantasy-rink/fantasy-rink/.settings/
/backend/fantasy-rink/fantasy-rink/build
